<link rel="stylesheet" type="text/css" href="<%=resource%>/oled-theme.css" />
<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[oled]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('oled_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b><span class="oled-status-running">OLED <%:RUNNING%></span></b></em>';
			} else {
				tb.innerHTML = '<em><b><span class="oled-status-stopped">OLED <%:NOT RUNNING%></span></b></em>';
			}
		}
	}
);
//]]>
</script>
<fieldset class="cbi-section">
	<p id="oled_status" class="oled-status-field">
		<em class="oled-status-loading"><%:Collecting data...%></em>
	</p>
</fieldset>
